@mixin media-query($size) {
  @if $size == 1150px {
    @media only screen and (max-width: 1150px) {
      @content;
    }
  } @else if $size == 1120px {
    @media only screen and (max-width: 1120px) {
      @content;
    }
  } @else if $size == 991px {
    @media only screen and (max-width: 991px) {
      @content;
    }
  } @else if $size == 900px {
    @media only screen and (max-width: 900px) {
      @content;
    }
  } @else if $size == 852px {
    @media only screen and (max-width: 852px) {
      @content;
    }
  } @else if $size == 896px {
    @media only screen and (max-width: 896px) {
      @content;
    }
  } @else if $size == 758px {
    @media only screen and (max-width: 758px) {
      @content;
    }
  } @else if $size == 700px {
    @media only screen and (max-width: 700px) {
      @content;
    }
  } @else if $size == 665px {
    @media only screen and (max-width: 665px) {
      @content;
    }
  } @else if $size == 500px {
    @media only screen and (max-width: 500px) {
      @content;
    }
  } @else if $size == 462px {
    @media only screen and (max-width: 462px) {
      @content;
    }
  } @else if $size == 390px {
    @media only screen and (max-width: 390px) {
      @content;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .lightlogo {
    display: none;
  }
  .lightlogofooter {
    display: none;
  }
  .lightfile{
    display: none;
  }
  :root {
    --border: #1b1a21;
    --backgroundsearch: #1b1a21;
    --ecriture: #fff;
    --background: #24252d;
    --elementbackground: #2a2d3a;
    --bordercolor: #2d2e36;
    --bordercolor1: #383737;
    --formcolor: #2d2e36;
  }
}

@media (prefers-color-scheme: light) {
  .logo {
    display: none;
  }
  .logofooter {
    display: none;
  }
  .darkfile{
    display: none;
  }
  .bid {
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.1));
  }
  .seller {
    border: 1px solid #e3e1e3;
    box-sizing: border-box;
  }
  :root {
    --border: #e3e1e3;
    --backgroundsearch: #fff;
    --ecriture: #24252d;
    --background: #fff;
    --elementbackground: #fff;
    --bordercolor: #e3e1e3;
    --bordercolor1: #e3e1e3;
    --formcolor: #fff;
  }
}

.body {
  padding-top: 92px;
  color: var(--ecriture);
  background-color: var(--background);
  // padding-bottom: 1px;
  overflow-x: hidden;
}

* {
  color: var(--ecriture);
  font-family: Poppins, sans-serif;
}

b {
  font-weight: 600;
}

button {
  font-size: 14px;
  font-weight: 600;
  height: 21px;
  white-space: nowrap;
}

.link {
  text-decoration: none;
}

// navbar
.navbar {
  background-color: var(--background);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px 0px;
  border-bottom: 2px solid var(--bordercolor1);
  width: 100%;
  margin: 0 auto;
  z-index: 1001;
}

.logolink {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--ecriture);
  font-size: 18px;
  font-weight: 700;
  line-height: 17px;
  &:hover,
  &:active {
    color: var(--ecriture);
  }
}

.logoname {
  @include media-query(896px) {
    display: none;
  }
}
.opentoggle {
  @include media-query(700px) {
    display: flex;
  }
}
.closetoggle {
  @include media-query(700px) {
    display: none;
  }
}

nav {
  @include media-query(700px) {
    height: auto;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 86vh;
    position: absolute;
    top: 92px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: var(--background);
    padding: 40px 20px;
  }
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 3px;
  transition: border-bottom 0.1s, color 0.1s;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  justify-content: flex-start;
}

.btnnavbar {
  display: flex;
  flex-direction: row;
}

.navigationItems {
  display: flex;
  align-items: center;
  .navText {
    display: flex;
    align-items: center;
    @include media-query(700px) {
      flex-direction: column;
      // justify-content:flex-start;
      align-items: flex-start;
      width: 100%;
      div {
        width: 59px;
        height: 24px;
        // color: var(--ecriture);
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
  }
  @include media-query(700px) {
    height: auto;
    clear: both;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--background);
  }
}

.logo,
.lightlogo {
  margin: 0px 5px 0px 10px;
}

// .logomobile,
// .lightlogomobile {
//   display: none;
//   @include media-query(665px) {
//     display: flex;
//   }
// }

.navbarsearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 19px 7px 15px;
  position: static;
  width: 627px;
  height: 39px;
  background-color: var(--backgroundsearch);
  border-radius: 10px;
  margin-left: 20px;
  border: 1px solid var(--border);
  .FaSistrix {
    color: var(--ecriture);
    width: 18.76px;
    height: 19.22px;
    left: 2.78px;
    top: 2.78px;
  }
  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;
    left: 151px;
    background-color: var(--backgroundsearch);
    border-radius: 10px;
    border-color: var(--backgroundsearch);
    color: var(--ecriture);
    &:active {
      background-color: var(--backgroundsearch);
      border-color: transparent;
    }
    &:focus {
      background-color: var(--backgroundsearch);
      border-color: transparent;
      box-shadow: 0 0 5px #4b4a4a00;
      color: var(--ecriture);
    }
  }
  @include media-query(896px) {
    margin-left: 5px;
  }
  @include media-query(991px) {
    width: 400px;
  }
  @include media-query(500px) {
    width: 220px;
    margin: 0px 10px;
  }
}

.navbartoggle {
  padding: 0px;
  display: none;
  @include media-query(700px) {
    display: flex;
  }
  .FcMenu,
  .AiOutlineClose {
    margin-left: 10px;
    // border: 1px solid;
    font-size: 30px;
  }
}

.btncreate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  color: #fff;
  width: 109px;
  height: 40px;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  border-radius: 10px;
  border: 1px solid #eb1484;
  margin-left: 20px;
  margin-right: 10px;
  &:focus,
  &:hover {
    box-shadow: 0px 0px 10px #c91cc3;
  }
}

.btn-primary:hover,
.btn-primary:focus {
  color: var(--ecriture);
  background-color: transparent;
  border-color: transparent;
}

.btnconnect {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  width: 146px;
  height: 39px;
  border-radius: 10px;
  margin-right: 5px;
  border: 1px solid #c91cc3;
  color: #da18a3;
  // border-color: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
  &:focus,
  &:hover {
    background: transparent;
    box-shadow: 0px 0px 10px #c91cc3;
  }
  @include media-query(896px) {
    width: 109px;
  }
}

.menu {
  color: #888888;
  // margin: 50px 10px;
  margin: 0px;
  padding-left: 20px;
  white-space: nowrap;
  &:hover,
  &:active {
    color: var(--ecriture);
  }
  a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration:none;
    color: #888888;
    &:hover,
    &:active {
      color: var(--ecriture);
    }
    @include media-query(700px) {
      color: var(--ecriture);
    }
  }
  @include media-query(896px) {
    padding-left: 10px;
  }
}

// footer
.footer {
  background-color: var(--background);
  border-top: 2px solid var(--bordercolor1);
  width: 100%;
  overflow-x: hidden;
}

.col1 {
  position: relative;
  width: 357px;
}

.col1,
.col2,
.col3 {
  margin: 32px auto;
}

.emailbtn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  color: #FFF;
  width: 118px;
  height: 40px;
  left: 239px;
  top: 107px;
  // left: 1071px;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  border-radius: 10px;
  border: 1px solid #eb1484;
  &:focus,
  &:hover {
    box-shadow: 0px 0px 10px #c91cc3;
  }
  @include media-query(462px) {
    left: 160px;
  }
}

.email {
  position: absolute;
  width: 283px;
  height: 40px;
  left: 0px;
  background: var(--backgroundsearch);
  border-radius: 10px;
  border-color: var(--border);
  color: var(--ecriture);
  &:active {
    background-color: var(--backgroundsearch);
    border-color: transparent;
  }
  &:focus {
    background-color: var(--backgroundsearch);
    border-color: transparent;
    box-shadow: 0 0 5px #4b4a4a00;
    color: var(--ecriture);
  }
  @include media-query(462px) {
    width: 200px;
  }
}

.footerp1 {
  font-size: 16px;
  height: 24px;
  font-weight: 600;
  white-space: nowrap;
}

.footerp2 {
  font-size: 16px;
  height: 26px;
  font-weight: 400;
  white-space: nowrap;
}

.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 0px 10px;
  .footerp1 {
    margin: 25px auto;
  }
}

.second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid var(--bordercolor1);
  padding: 30px;
}

.col2 {
  width: 160px;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 5px;
}

.socialmedia {
  position: static;
  div {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
  }
}

// home
.discover {
  max-width: 992px;
  width: 65%;
  // min-height: 300px;
  margin: 60px auto;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  border: 1px solid #eb1484;
  box-sizing: border-box;
  // box-shadow: 0px 4px 4px #eb1484;
  border-radius: 25px;
  p {
    color: #fff;
    max-width: 663px;
    margin: 95px 53px;
    font-weight: 700;
    font-size: 48px;
    line-height: 105.7%;
    @include media-query(896px) {
      font-size: 30px;
      line-height: 105.7%;
      margin: 40px 20px;
    }
    @include media-query(462px) {
      font-size: 20px;
    }
  }
  @include media-query(896px) {
    width: 75%;
  }
  @include media-query(500px) {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.topSellers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  max-width: 1028px;
  height: 272px;
  // top: 750px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 30px auto;
  .sellerscontainer {
    max-width: 1028px;
    min-height: 200px;
    flex: none;
    order: 1;
    flex-grow: 0;
    overflow: auto;
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    @include media-query(1150px) {
      width: 800px;
    }
    @include media-query(852px) {
      max-width: 625px;
    }
  }
  .sellerscontainer::-webkit-scrollbar {
    display: none;
  }

  .sellerscontainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  @include media-query(1150px) {
    width: 800px;
  }
  @include media-query(852px) {
    max-width: 625px;
  }
  @include media-query(500px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.titre {
  white-space: nowrap;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin: auto;
  width: 1028px;
  padding-left: 5px;
  @include media-query(1150px) {
    width: 800px;
  }
  @include media-query(852px) {
    max-width: 625px;
  }
  @include media-query(500px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
  }
}

// %seller-shared {
//     width: 180px;
//     height: 200px;
//     //margin-top: 30px;
//     background: #2A2D3A;
//     border-radius: 20px;
//     -webkit-border-radius: 20px;
//     -moz-border-radius: 20px;
//     -ms-border-radius: 20px;
//     -o-border-radius: 20px;
// }
.seller {
  // @extend %seller-shared;
  cursor: pointer;
  margin: 0px 10px;
  min-width: 180px;
  max-width: 180px;
  height: 200px;
  background: var(--elementbackground);
  border-radius: 20px;
  @include media-query(500px) {
    min-width: 140px;
    max-width: 140px;
    // height: 165px;
  }
}

// .seller1{
//     @extend %seller-shared;
// }

.number {
  height: 33px;
  width: 33px;
  margin-left: 11px;
  margin-top: 11px;
  border-radius: 0px;
  background: rgba(218, 24, 163, 1);
  border-radius: 100%;
  color: #fff;
  text-align: center;
  padding-top: 3%;
  @include media-query(500px) {
    height: 25px;
    width: 25px;
    padding-top: 0px;
  }
}

.infoseller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  p {
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

.sellerimg {
  position: relative;
  .profileimg {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .verify {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 58px;
    top: 60px;
  }
}
.leftarrow {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 0px;
  margin-top: 115px;
  z-index: 1000;
  @include media-query(852px) {
    display: none;
  }
}

.rightarrow {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 988px;
  margin-top: 115px;
  z-index: 1000;
  @include media-query(1150px) {
    margin-left: 780px;
  }
  @include media-query(852px) {
    display: none;
  }
}

.hotbids {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  max-width: 992px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 30px auto 50px auto;
  @include media-query(1150px) {
    max-width: 800px;
  }
  @include media-query(500px) {
    margin-top: 0px;
  }
}

.loadmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  position: static;
  width: 300px;
  height: 40px;
  left: 568.5px;
  top: 1612px;
  border-radius: 10px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px auto 60px auto;
  border: 1px solid #c91cc3;
  background: transparent;
  color: #da18a3;
  &:focus,
  &:hover {
    background: transparent;
    box-shadow: 0px 0px 10px #c91cc3;
  }
}

// bids

.containerbids {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  margin: 30px 0px 0px 0px;
  @include media-query(1150px) {
    max-width: 800px;
    // margin-bottom: 13px;
  }
}

.bid {
  cursor: pointer;
  position: static;
  width: 233px;
  height: 319px;
  margin-bottom: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 5px;
  background: var(--elementbackground);
  border-radius: 20px;
  padding: 11px;
  @include media-query(500px) {
    width: 145px;
    padding: 9px 6px;
    height: 212px;
  }
  .bidimg {
    @include media-query(500px) {
      width: 130px;
    }
  }
}

.rowbids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  position: static;
  flex: none;
  order: 0;
  flex-grow: 0;
  // margin-bottom: 20px;
  justify-content: space-around;
  p {
    margin-bottom: 0px;
    margin-top: 5px;
  }
}

.bidinfo1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;
  @include media-query(500px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.bidinfo2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  @include media-query(500px) {
    font-size: 10px;
    line-height: 15px;
  }
}

.likes {
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
  }
  @include media-query(500px) {
    font-size: 10px;
    line-height: 15px;
  }
}

// profile

.couv {
  display: flex;
  justify-content: center;
  height: 320px;
  img {
    width: 1900px;
    height: 100%;
  }
}

.bidsprof {
  margin: 0px auto 50px auto;
  max-width: 992px;
  @include media-query(1150px) {
    max-width: 800px;
  }
  @include media-query(758px) {
    margin-top: 150px;
  }
  .titre {
    display: none;
    @include media-query(758px) {
      display: flex;
    }
  }
}

.infoProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 272px;
  margin-top: 198px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 50%;
    background: var(--background);
    img {
      width: 210px;
      height: 210px;
      border-radius: 50%;
      @include media-query(462px) {
        width: 160px;
        height: 160px;
      }
    }
    @include media-query(462px) {
      width: 170px;
      height: 170px;
    }
  }
  h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
  }
}

.input_select {
  align-items: center;
  width: 993px;
  display: flex;
  flex-direction: row;
  margin: 222px auto 30px auto;
  @include media-query(1150px) {
    width: 750px;
  }
  @include media-query(758px) {
    display: none;
  }
}

.searchSelect {
  display: flex;
  color: var(--ecriture);
  flex-direction: row;
  align-items: center;
  width: 227px;
  height: 40px;
  background-color: var(--backgroundsearch);
  border-radius: 10px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid var(--border);
  color: var(--ecriture);
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  padding-left: 15px;
  &:active {
    background-color: var(--backgroundsearch);
  }
  &:focus {
    background-color: var(--backgroundsearch);
    border-color: transparent;
    box-shadow: 0 0 0px #4b4a4ad7;
  }
  @include media-query(1150px) {
    max-width: 180px;
  }
}

.searchprof {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 19px 7px 15px;
  position: static;
  width: 740px;
  height: 40px;
  background: var(--backgroundsearch);
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 20px;
  border: 1px solid var(--border);
  color: var(--ecriture);

  @include media-query(1150px) {
    max-width: 550px;
  }
  // @include media-query(852px) {
  //   width: 400px;
  // }
  .search {
    height: 38px;
    left: 151px;
    top: 0px;
    background: var(--backgroundsearch);
    border-color: var(--backgroundsearch);
    color: var(--ecriture);
    &:active {
      background: var(--backgroundsearch);
      border-color: transparent;
    }
    &:focus {
      background: var(--backgroundsearch);
      border-color: transparent;
      box-shadow: 0 0 0px #4b4a4ad7;
      color: var(--ecriture);
    }
  }
}
.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 19px 7px 15px;
  position: static;
  width: 627px;
  height: 38px;
  background-color: #1b1a21;
  border-radius: 10px;
  margin: 0px 20px;
  .FaSistrix {
    color: var(--ecriture);
    width: 18.76px;
    height: 19.22px;
    left: 2.78px;
    top: 2.78px;
  }
}

// item

.itemimg {
  width: 542px;
  height: 542px;
  margin: 65px 15px 58px 15px;
  @include media-query(1120px) {
    width: 400px;
    height: 400px;
    margin: 65px 15px 0px 15px;
  }
  @include media-query(900px) {
    width: 350px;
    height: 350px;
    margin: 45px 15px 0px 15px;
  }
  @include media-query(390px) {
    width: 320px;
    height: 320px;
    margin: 0px;
  }
}

.colsep {
  border-right: 2px solid var(--bordercolor1);
  display: flex;
  justify-content: center;
  padding: 15px;
}
.itemcol2 {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.description {
  padding: 0px;
  // position: absolute;
  width: 450px;
  margin-left: 2%;
  margin-top: 45px;
  .iteminfo1 {
    display: flex;
    flex-direction: row;
    h1 {
      font-size: 28px;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0em;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  @include media-query(1120px) {
    width: 350px;
  }
  @include media-query(900px) {
    width: 300px;
  }
  @include media-query(390px) {
    margin-left: 2%;
  }
}

.creatorinfo {
  img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 8px;
  }
}

.likecontain {
  width: 63px;
  height: 33px;
  margin-left: 14px;
  background: var(--background);
  border: 0.5px solid #888888;
  box-sizing: border-box;
  border-radius: 22px;
  padding: 6px 15px;
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-left: 16px;
  }
  @include media-query(900px) {
    margin-left: 9px;
  }
}

.creator {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 14px;
}

.inav {
  border-bottom: 1px solid var(--bordercolor1);
}
.inavitem {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-decoration: none;
  color: var(--ecriture);
  &:active,
  &:hover {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: var(--ecriture);
    border-bottom: 2px solid;
  }
}

.history,
.offers {
  display: none;
}

.details,
.offers,
.history {
  p {
    // font-size: 16px;
    // font-weight: 400;
    // line-height: 26px;
    margin: 30px 0px;
  }
}
.itembtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 420px;
  height: 45px;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin-bottom: 30px;
  .makeofferbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 30px;
    position: static;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background: transparent;
    border: 1px solid #c91cc3;
    color: #da18a3;
    &:focus,
    &:hover {
      background: transparent;
      box-shadow: 0px 0px 10px #c91cc3;
    }
    @include media-query(1120px) {
      width: 145px;
    }
  }

  .buybtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 9px 30px;
    position: static;
    width: 200px;
    height: 45px;
    background: linear-gradient(
      101.12deg,
      #eb1484 27.35%,
      #c91cc3 99.99%,
      #c81cc5 100%,
      #c81cc5 100%
    );
    border-radius: 10px;
    border: 1px solid #eb1484;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 20px;
    &:focus,
    &:hover {
      box-shadow: 0px 0px 10px #c91cc3;
    }
    @include media-query(1120px) {
      width: 145px;
    }
  }
}

// checkout

.checkout {
  // position: absolute;
  width: 586px;
  height: 480px;
  left: 427px;
  // top: 224px;
  background-color: transparent;
  border: 1px solid;
  border-color: var(--bordercolor);
  box-sizing: border-box;
  border-radius: 20px;
  .checkoutheader {
    background-color: var(--background);
    height: 90px;
    border-color: var(--bordercolor);
  }
  .checkoutbody {
    height: 274px;
    border-color: var(--background);
    background-color: var(--bordercolor);
  }
  .checkoutfooter {
    height: 110px;
    border-color: var(--background);
    background-color: var(--bordercolor);
  }
}

.backDrop {
  height: 100%;
  width: 100%;
  background: rgba(27, 26, 33, 0.9);
  // opacity: 0.9;
}

.Modall {
  position: fixed;
  z-index: 1020;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customModal {
  position: absolute;
  width: 584px;
  // height: 480px;
  background-color: var(--background);
  // padding: 30px 0px;
  border: 1px solid var(--bordercolor);
  box-sizing: border-box;
  border-radius: 20px;
  @include media-query(665px) {
    width: 320px;
  }
}

.customModalHeader {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0px;
  }
}

.customModalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 584px;
  height: 274px;
  left: 0px;
  top: 66px;
  border-top: 1px solid var(--bordercolor1);
  border-bottom: 1px solid var(--bordercolor1);
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 30px 0px;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 506px;
    height: 224px;
    flex: none;
    order: 1;
    flex-grow: 0;
    // margin: 25px 0px;
    @include media-query(665px) {
      width: 291px;
    }
    .customModalBodyHead {
      p {
        margin: 0px;
      }
      display: flex;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
    }
    .customModalBodyBody {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0px;
      position: static;
      width: 506px;
      height: 104px;
      left: 0px;
      top: 59px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 35px 0px;
      @include media-query(665px) {
        width: 291px;
      }
      div {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        padding: 0px;
        position: static;
        width: 292px;
        height: 104px;
        flex: none;
        order: 0;
        flex-grow: 0;
        @include media-query(665px) {
          width: 200px;
        }
        img {
          position: static;
          width: 107px;
          height: 104px;
          left: 0px;
          top: 0px;
          @include media-query(665px) {
            width: 53px;
            height: 53px;
          }
        }
        div {
          .p1 {
            position: static;
            width: 77px;
            height: 21px;
            white-space: nowrap;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 2px 0px;
          }
          .p2 {
            position: static;
            width: 170px;
            // height: 21px;
            left: 0px;
            top: 23px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 2px 0px;
            @include media-query(665px) {
              width: 122px;
            }
          }
          display: flex;
          flex-direction: column;
          justify-content: center;

          align-items: flex-start;
          padding: 0px;
          position: static;
          // width: 170px;
          height: 100%;
          left: 122px;
          top: 30px;
          flex: none;
          order: 1;
          flex-grow: 0;
          margin: 0px 15px;
        }
      }
      .price {
        display: flex;
        justify-content: flex-end;
        width: auto;
        align-items: flex-start;
      }
    }
  }
  @include media-query(665px) {
    width: 320px;
  }
}
.CheckoutBtnModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  color: #fff;
  position: static;
  width: 140px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    101.12deg,
    #eb1484 27.35%,
    #c91cc3 99.99%,
    #c81cc5 100%,
    #c81cc5 100%
  );
  border-radius: 10px;
  border: 1px solid #eb1484;
  &:focus,
  &:hover {
    box-shadow: 0px 0px 10px #c91cc3;
  }
  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.closeBtnModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  position: static;
  width: 140px;
  height: 39px;
  left: 160px;
  top: 0px;
  border-radius: 10px;
  border: 1px solid;
  background: transparent;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
  border: 1px solid #c91cc3;
  color: #da18a3;
  &:focus,
  &:hover {
    background: transparent;
    box-shadow: 0px 0px 10px #c91cc3;
  }
}

.customModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  height: 40px;
  left: 143px;
  top: 370px;
  margin-bottom: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.payementModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--ecriture);
  }
}

.payementModalBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-top: 1px solid var(--bordercolor1);
  border-bottom: 1px solid var(--bordercolor1);
  position: static;
  width: 586px;
  height: 341px;
  left: 0px;
  top: 61px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 25px 0px;
  @include media-query(665px) {
    width: 100%;
  }
  img {
    position: static;
    width: 211px;
    height: 206px;
    left: 77px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  div {
    position: static;
    width: 365px;
    //height: 55px;
    left: 0px;
    top: 236px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 25px;
    @include media-query(665px) {
      width: 264px;
    }
  }
}

.payementModalFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  height: 90px;
  left: 173px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-bottom: 35px;
  h3 {
    position: static;
    width: 60px;
    height: 30px;
    left: 90px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 25px;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 40px;
    padding: 0px;
    position: static;
    width: 240px;
    height: 40px;
    left: 0px;
    top: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 20px 0px;
  }
}

// Create

.createpage {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  .titre {
    width: 610px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
    margin-top: 35px;
    @include media-query(665px) {
      display: none;
    }
  }
  Form {
    .formlabel {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin-top: 55px;
      margin-bottom: 0px;
      @include media-query(665px) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0px;
        margin-top: 35px;
      }
    }
    .formcontrol {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 17px 29px;
      width: 610px;
      // height: 60px;
      left: 0px;
      // top: 56px;
      background: var(--formcolor);
      border-radius: 10px;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin: 20px 0px;
      border-color: var(--bordercolor);
      color: rgba(255, 255, 255, 0.904);
      &:active {
        background-color: var(--formcolor);
        border-color: transparent;
      }
      &:focus {
        background-color: var(--formcolor);
        border-color: transparent;
        box-shadow: 0 0 5px #4b4a4a00;
        color: rgba(255, 255, 255, 0.904);
      }
      @include media-query(665px) {
        width: 286px;
      }
    }
    .Createitembtn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 9px 30px;
      width: 145px;
      height: 39px;
      color: #fff;
      margin-top: 50px;
      margin-bottom: 82px;
      margin-left: auto;
      margin-right: auto;
      background: linear-gradient(
        101.12deg,
        #eb1484 27.35%,
        #c91cc3 99.99%,
        #c81cc5 100%,
        #c81cc5 100%
      );
      border-radius: 10px;
      border: 1px solid #eb1484;
      &:focus,
      &:hover {
        box-shadow: 0px 0px 10px #c91cc3;
      }
    }
  }
  @include media-query(665px) {
    margin-top: 20px;
  }
}

.Upload {
  background: var(--formcolor);
  cursor: pointer;
  margin: 20px 0px;
  height: 329px;
  border: 1px dashed var(--bordercolor);
  box-sizing: border-box;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  z-index: 1000;
  h3 {
    margin: 47px 55px 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    @include media-query(665px) {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      margin: 32px 44px 20px;
    }
  }
  img {
    margin-bottom: 20px;
  }
  @include media-query(665px) {
    width: 289px;
  }
}

.formfile {
  position: relative;
  .inputfile {
    // visibility: hidden;
    opacity: 0;
    border: 1px solid var(--ecriture);
    position: absolute;
    width: 610px;
    height: 329px;
    z-index: 3000;
    margin: 0px;
  }
}
.upFile {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 55px;
  margin-bottom: 0px;
  @include media-query(665px) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
